<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="maze_bot">

  <!-- Include the base robot model -->
  <xacro:include filename="$(find maze_bot_description)/urdf/maze_bot.urdf.xacro" />
  
  <!-- Include Gazebo-specific configurations -->
  <xacro:include filename="$(find maze_bot_description)/urdf/maze_bot_gazebo.xacro" />

</robot>
